<script setup>
import TheHeader from "./components/ui/TheHeader.vue";
import TheFooter from "./components/ui/TheFooter.vue";
</script>

<template>
  <the-header />
  <router-view />
  <the-footer />
</template>
