<template>
  <!-- Not a caption that should go in a table, use for image captions -->
  <!-- TODO: Consider using figcaption and adopting the use of figures -->
  <p>
    <slot></slot>
  </p>
</template>
