<template>
  <main>
    <!-- Hero -->
    <header>
      <nav>
        <div>
          <img src="logos/fedora-blue.png" alt="Fedora Linux Logo">
          <span>Workstation</span>
        </div>
        <ul>
          <li>
            <nuxt-link to="/download">Download</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/community">Community</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/help">Get Help</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/started">Get Started</nuxt-link>
          </li>
        </ul>
      </nav>
      <div>
        <h1>The leading Linux desktop</h1>
        <p>A beautiful, high-quality desktop, built on the latest open source technology. Trusted, powerful, easy.</p>
      </div>
      <div>
        <div>
          <div>
            <p>Latest release</p>
            <p>36</p>
            <a href="#">Release Notes</a>
          </div>
        </div>
        <div>
          <!-- TODO: Mockup notes that the image is to be a video -->
          <img src="#" alt="Linux Desktop">
        </div>
      </div>
      <div>
        <button>Download Now</button>
        <Button>
          <font-awesome-icon icon="fa-brands fa-youtube" />
          <p>Reviewed by <span>$REVIEWER</span></p>
        </Button>
        <a href="#">Watch the latest reviews
          <font-awesome-icon icon="fa-solid fa-arrow-right" />
        </a>
      </div>
    </header>
    <!-- Why Fedora Workstation -->
    <section></section>
  </main>
</template>
<script setup>
useHead({
  title: "Fedora Workstation",
  viewport: "width=device-width, initial-scale=1, maximum-scale=1",
  charset: "utf-8",
  meta: [{ name: "description", content: "The Fedora Linux Flagship Distribution." }],
  bodyAttrs: {
    class: "test",
  },
});
// Text Objects -- For setting up with i18n internationalization
const heroContent = {
  title: "The leading Linux desktop.",
  subtitle: "A beautiful, high quality desktop, built on the latest open source technology. Trusted, powerful, easy.",
  release: {
    text: "Latest release:",
    number: "36",
    link: {
      text: "Release Notes",
      url: "#"
    }
  },
  primaryBtn: {
    text: "Download Now",
    url: "#"
  },
  secondaryBtn: {
    icon: "fa-brands fa-youtube",
    text: "Reviewed by:",
    reviewer: "$REVIEWER"
  },
  thirdBtn: {
    icon: "fa-regular fa-arrow-right",
    text: "Watch the latest reviews",
    url: "#"
  }
}
const workstationInfo = {
  title: "Why Fedora Workstation?",
  reasons: [
    {
      title: "Reliable",
      text: "Each version is updated for 18 months, and upgrades between versions are quick and easy."
    },
    {
      title: "Free & Private",
      text: "With Fedora your desktop is your own, it's free, there are no ads, and your data belongs to you."
    },
    {
      title: "Beautiful",
      text: "Workstation is carefully curated to deliver a high quality experience. The desktop is clean and uncluttered."
    },
    {
      title: "Trusted",
      text: "Developed in partnership with upstream projects. Rigorously tested. Backed by Red Hat."
    },
    {
      title: "Leading technology",
      text: "Built on the latest technologies and enhancements that open source has to offer."
    },
    {
      title: "Makes the most of your device",
      text: "Fedora works with hardware vendors to make excellent hardware support across a range of devices."
    }
  ]
}
const featuresList = [
  {
    image: {
      url: "#",
      text: "Gnome Software UI"
    },
    title: "Fantastic apps",
    text: "Browse a great collection of apps, covering everything you might need. Includes exciting new open source apps as well as familiar apps from other platforms."
  },
  {
    image: {
      url: "#",
      text: "Gnome Region and Language Settings"
    },
    title: "Workstation speaks your language",
    text: "Thanks to a global community of translators, Workstation is available in many languages."
  },
  {
    image: {
      url: "#",
      text: "Gnome Night Light Settings"
    },
    title: "Turn the lights down low",
    text: "Flip a switch to turn on dark mode and give your eyes a break from the day. Use night light to reduce screen glare and help with sleep."
  },
  {
    image: {
      url: "#",
      text: "Gnome Calendar App"
    },
    title: "Calendar integration",
    text: "Bring your online calendar to the desktop with Online Accounts."
  },
  {
    image: {
      url: "#",
      text: "Gnome Weather, Clock, and Map apps"
    },
    title: "Helpful out of the box",
    text: "Fedora Workstation includes a great set of utilities, like Clocks, Weather, and Maps"
  }
]
const developerBenefitList = [
  {
    image: {
      url: "#",
      text: "Gnome Boxes screenshot"
    },
    title: "Virtualization made easy",
    text: "Boxes takes the guesswork out of using virtual machines - just choose the OS you want to install and it will take care of the details."
  },
  {
    image: {
      url: "#",
      text: "Gnome Power Profiles screenshot"
    },
    title: "Productivity-boosting desktop features",
    text: "Use performance mode to boost hardware speed when you need it. Turn off notifications with do not distrub. Press the super key and just type to search for what you need."
  },
  {
    image: {
      url: "#",
      text: "Podman Logo"
    },
    title: "Containers ready to go",
    text: "Use the latest container tools from the Red Hat ecosystem. No setup required. Access the Red Hat container registry.",
    logos: [
      {
        url: "#",
        text: "Cri-o logo"
      },
      {
        url: "#",
        text: "Podman Logo"
      },
      {
        url: "#",
        text: "Buildah Logo"
      },
      {
        url: "#",
        text: "Skopeo Logo"
      }
    ]
  },
  {
    image: {
      url: "#",
      text: "Gnome software developer tools screenshot"
    },
    title: "All the tools",
    text: "All the tools you might need, easy to install with a single command. Tools supplied with high quality, by the people who make them."
  }
]
const getStartedCards = [
  {
    title: "Get started developing with Fedora"
  },
  {
    logo: {
      url: "#",
      text: "Fedora Developer Logo"
    },
    title: "The Fedora Developer Portal",
    text: "has guides on developing and deploying applications using Fedora Workstation.",
    button: {
      url: "#",
      text: "Visit Now"
    }
  },
  {
    logo: {
      url: "#",
      text: "DNF Logo"
    },
    title: "DNF",
    text: "is the Fedora package manager that enables you to install, update, and manage os components.",
    button: {
      url: "#",
      text: "Learn more"
    }
  },
  {
    logo: {
      url: "#",
      text: "Podman Logo"
    },
    title: "Podman",
    text: "is a daemonless container engine for creating and managing containers and container images.",
    button: {
      url: "#",
      text: "Containerize"
    }
  }
]
const builtByYou = {
  title: "Built By You",
  description: "The Fedora Project envisions a world where everyone benefits from free and open source software built by inclusive, welcoming, and open-minded communities.",
  createdBy: "Fedora Workstation is created by a team in the Fedora community called the Workstation Working Group. It is comprised of officia members who have decision making powers, as well as other contributors.",
  learnMore: {
    url: "#",
    text: "Learn more on the Workstation Working Group website"
  },
  infoList: [
    {
      title: "Report and discuss issues",
      text: "You can view, file, and discuss Fedora Workstation issues on",
      link: {
        url: "#",
        text: "the Fedora Workstation issue tracker."
      }
    },
    {
      title: "Chat with the team",
      text: ["Visit", "on", "and on"],
      links: [
        {
          url: "#",
          text: "#fedora-workstation"
        },
        {
          url: "#",
          text: "irc.ibera.chat"
        },
        {
          url: "#",
          text: "#workstation"
        },
        {
          url: "#",
          text: "on the Fedora Matrix Chat Server"
        }
      ],
      link: {
        url: "#",
        text: "the Fedora Workstation issue tracker."
      }
    },
    {
      title: "Join the mailing list",
      text: ["Sign up at", "to receive meeting agendas and minutes"],
      links: [
        {
          url: "#",
          text: "desktop@lists.fedoraproject.org"
        },
        {
          url: "#",
          text: "view archives"
        }
      ]
    },
    {
      title: "Attend a meeting",
      text: ["Open to all current and potential contributors on", "Tuesdays, 9:30 AM US Eastern", "on"],
      link: {
        url: "#",
        text: "Bluejeans"
      }
    }
  ]
}
const workstationCTA = {
  logo: {
    url: "#",
    text: "Fedora Workstation Logo"
  },
  title: ["fedora", "Workstation"],
  text: "Try it now.",
  button: {
    url: "#",
    text: "Get Started"
  }
}
</script>